db_method: rm                 # The DB scheme to use. Either "monocle" or "rm" (without the quotes)
dbip: localhost                      # IP adress or hostname of the mysql server
dbusername: pokemon                # Username of database
dbpassword: pokemon                # Password of database
dbname: pokemon                    # Name of the database
